/* Space out content a bit */
body {
  padding-top: 76px;
}
#navbar-icon {
  height: 50px;
}

#navbar-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#main-diagram {
  width: 70%;
}

.tab-pane {
  padding-top: 1rem;
}

.img-sm{
	height: 100px;
}