<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-light border-bottom shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="index.html"><img id="navbar-icon" src="images/openmbee-logo.svg"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="index.html" role="button">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
             aria-expanded="false">About <span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="about.html">About Us</a>
            <a class="dropdown-item" href="impacts.html">Impacts</a>
            <a class="dropdown-item" href="publications.html">Publications</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="contribute.html" role="button">Contribute</a></li>
        <li class="nav-item"><a class="nav-link" href="participate.html" role="button">Participate</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
             aria-expanded="false">Projects <span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="projects.html#cookbooks">Models & Cookbooks</a>
            <a class="dropdown-item" href="projects.html#mdk">Model Development Kits (MDKs)</a>
            <a class="dropdown-item" href="projects.html#mms">Model Management System (MMS)</a>
            <a class="dropdown-item" href="projects.html#ve">View Editor</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="quick-start.html">Quick Start Guides</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="roadmap.html">Project Roadmap</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
             aria-expanded="false">Community <span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="code-of-conduct.html">Code of Conduct</a>
            <a class="dropdown-item" href="governance.html">Governance</a>
            <a class="dropdown-item" href="leadership.html">Leadership</a>
            <a class="dropdown-item" href="licenses.html">Licenses</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://facebook.com/openmbee/" target="_blank">Facebook</a>
            <a  class="dropdown-item"
                href="https://calendar.google.com/calendar/embed?src=jbdo6r6v614cpl21ru4enlr6k8%40group.calendar.google.com"
                target="_blank">Google Calendar</a>
            <a class="dropdown-item" href="https://groups.google.com/forum/#!forum/openmbee" target="_blank">Google Group</a>
            <a class="dropdown-item" href="https://www.omgwiki.org/MBSE/doku.php?id=mbse:ecosystems" target="_blank">INCOSE</a>
            <a class="dropdown-item" href="https://www.linkedin.com/in/open-mbee-491a851a3/" target="_blank">LinkedIn</a>
            <a class="dropdown-item" href="https://openmbee.slack.com" target="_blank">Slack</a>
            <a class="dropdown-item" href="https://twitter.com/openmbee" target="_blank">Twitter</a>
            <a class="dropdown-item" href="https://www.instagram.com/openmbee" target="_blank">Instagram</a>
            <a class="dropdown-item" href="https://medium.com/@openmbee" target="_blank">Medium</a>
            <a class="dropdown-item" href="https://www.youtube.com/channel/UCC4Ucy6P86ozz3pT01H7fmA" target="_blank">YouTube</a>
            <!-- <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="contribute.html" role="button">Contribute</a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
             aria-expanded="false">Events <span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="events.html">All Events</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="models2020.html">Models 2020</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
